<div class="jumbotron text-center">
	<h1><span class="fa fa-lock"></span>Authentication</h1>
	<p>Login or Register with:</p>
	<a href="/api/auth/login" class="btn btn-default"> Login</a>
	<a href="/api/auth/signup" class="btn btn-warning"><span class="fa fa-user"></span> Signup</a>
	<a href="/api/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
	<a href="/api/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
	<a href="#/store" class="btn btn-info"> Back to store</a>
</div>