<div class="well btn-wrapper col-md-4 col-md-offset-4">	
	<p>Login or Register with:</p>
	<a href="#/login" class="btn btn-success btn-block"> Log in</a>
	<a href="#/signup" class="btn btn-warning btn-block"><span class="fa fa-user"></span> Sign up</a>
	<a href="/api/auth/google active" class="btn btn-danger btn-block"><span class="fa fa-google-plus"></span> Google</a>
	<a href="/api/auth/facebook" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> Facebook</a>
	<a href="#/store" class="btn btn-info btn-block"> Back to store</a>
</div>