<p class="text-info">
    Welcome to the Angular Store<br />
Please select the products you want ….<br /></p>
<p>
    Search: <input ng-model="search"></p>
    <main class="row" ng-controller="productListCtrl" ng-hide="data.error">
    <aside class="col-md-2">
        <a ng-click="selectCategory()"
        class="btn btn-block btn-primary btn-lg">Categories</a>
        <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
            ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg"
            ng-class="getCategoryClass(item)">
            {{item}}
        </a>
    </aside>
    <div class='col-md-10'>
        <table class='table table-responsive table-bordered'>
            <tr class="ngFade" ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
                <td class='tdCenter'>
                    <a href='#' class='thumbnail'>
                        <img ng-src="{{item.imgUrl}}" class='img-responsive' width = '180'height="auto">
                    </a>
                    <!-- <pre>{{item.imgUrl}}</pre> -->
                </td>
                
                <td><strong>{{item.name}}</strong>
                    <br/>{{item.description}}
                </td>
                <td class='tdRight'>
                    <h4><mark>
                    <strong>{{item.price | currency}}</strong>
                    </mark></h4>
                </td>
                <td class='tdCenter'>
                    <!--
                    <form class='form-horizontal' role='form' ng-submit="addProductToCart(item)">
                        <div class="form-group form-group-sm">
                            <label>qty: </label>
                            <input name='qty' type='number' ng-model='qty' min='1' max='9' value=1  size='1'/>
                            -->
                            <button class='btn-primary' ng-click='add2Cart(item)'>Add to Cart</button>
                </td>
            </tr>
        </table>
        <footer class="pull-right btn-group">
            <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
                ng-click="selectPage($index + 1)" class="btn btn-default"
                ng-class="getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </footer>
    </div>
    </main>