
        <h2> Your Cart </h2>
        <p class='text-info'>Here you can edit the items, go back to the store, clear the cart or checkout.</p>
        <div class="alert alert-warning" ng-show="cart.getItemcount() < 1">
            Your cart is empty.
            <a href="#/products" class="alert-link">Click on here to back to store</a>
        </div>
        <section class='row' ng-hide="cart.getItemCount() < 1">
            <div class='col-md-8'>
                <table class="table table-bordered">
                    <thead>
                        <tr class='well'>
                            <th><span class="glyphicon glyphicon-tag"></span><b> Item</b></th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart.cartData">
                            <td class="tdCenter">{{item.name}}</td>
                            <td class="tdCenter col-md-1">
                                <!--
                                <div class='btn-group btn-group-sm'> -->
                                    <!-- use type=tel instead of  to prevent spinners -->
                                    <!-- type number isn't supported in IE9 and earlier -->
                                    <form class='form-group'><input type='number' name='qty' size='2' min='1' max='99' ng-model='item.count'
                                    ng-change="cart.saveItems()" class='form-control'/></form>
                                    <!--
                                    <label class="btn btn-success active"                          ng-disabled='item.count >= 1000'
                                    ng-click="cart.addItem(item.id, item.name, item.price, +1)">+</label>
                                    <label class="btn btn-warning"
                                        ng-disabled="item.count <= 1"
                                    ng-click="cart.addItem(item.id, item.name, item.price, -1)">-</label>
                                    
                                </div> -->
                                
                            </td>
                            <td class="tdCenter">{{item.price | currency}}</td>
                            <td class="tdCenter">{{ (item.price * item.count) | currency}}</td>
                            <td class='tdCenter' title='remove from cart'>
                                <button ng-click="cart.removeItem(item.id)"
                                class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-remove"></span>
                                Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr class='well'>
                        <td><b>Total</b></td>
                        <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            
            <!-- buttons -->
            <aside class="col-md-4">
                <div class=btn-wrapper>
                    <a class="btn btn-info btn-block" href="#/products"><span class="glyphicon glyphicon-arrow-up"></span> Back to Store</a>
                    <button class="btn btn-warning btn-block"
                    ng-click="cart.emptyCart()">
                    <span class="glyphicon glyphicon-trash"></span> Clear cart
                    </button>

                    <script src="//www.paypalobjects.com/api/checkout.js" async></script>

                    <form id='myContainer' method='post' action='/paypal/pay/'>
                        <input type='hidden' name='qty' ng-value='cart.getItemCount()'>
                        <input type='hidden' name='amt' ng-value='cart.getTotalPrice()'>
                        <button id="t2" type="submit" class="checkout paypal-button-hidden btn btn-block">
                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/PP_AcceptanceMarkTray-NoDiscover_243x40.png" alt="Buy now with PayPal" />
                        </button>
                    </form>
                     <script>
                        window.paypalCheckoutReady = function() {
                            paypal.checkout.setup('YTK9ZFNLT4S5Y', {
                            locale: 'cn_TW',
                            environment: 'sandbox',
                            button: ['t2']            
                            });
                        }    
                    </script>
                </div>
            </aside>
        </section>
